button {
  padding: 5px 10px;
  background-color: #4caf9e;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e7f;
}

.load-more {
  text-align: center;
  margin-top: 40px;
}

.load-more button {
  padding: 5px 10px;
  background-color: #4caf9e;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #3e8e7f;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(43, 86, 73, 0.7);
  color: #f5f5f5;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

body {
  background-color: #f5f5f5;
}

.site-title {
  font-size: 48px;
  font-weight: bold;
  color: #4caf9e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}
